#headermenu{
    display: table;
}

#headermenu div{
    display: table-cell;
    padding-right: 20px
}

a:link{
    text-decoration: none;
}

a:visited{
    color: indigo;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
a:active{
    color: red;
}
.pageheading{
    color: darkblue;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 8px;
    border: 1px solid black;
}
th{
    background-color: darkblue;
    color: cornsilk;
    font-size: larger;
}

button[type=submit]{
    font-weight: bolder;
}

.message{
    color: red;
    font-style: italic;
    font-size: 15px;
}